body{
    font-family: Arial, sans-serif;
    background-color:a aquamarine;
    margin: auto;
    padding: 0;
    text-align:start;

}
h1{
    text-align: center;
}
footer{

    text-align: center;
}